name: CI/CD - Deploy on GCP VM via ssh

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

jobs:
  integration:   #job id 
    name: Continuous Integration
    runs-on: ubuntu-latest
    
    #step 1 copy all your files from directory
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest pytest-flask requests
          pip install -e .

      - name: Run unit tests
        run: |
          python -m pytest tests/ -v

      
  deployment:
    name: Deploy to GCP VM
    runs-on: ubuntu-latest
    needs: integration
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Deploy to GCP VM
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.GCP_VM_HOST }}
          username: ${{ secrets.GCP_VM_USERNAME }}
          key: ${{ secrets.GCP_VM_SSH_KEY }}
          script: |
            cd /home/oladimejitomiwa31_gmail_com/End_to_End_machine_learning_project_with_mlflow
            git pull origin main
            docker stop wine-app || true
            docker rm wine-app || true
            docker build -t wine-app .
            docker run -d -p 80:5000 --name wine-app wine
          
         