name: CI/CD - Deploy on GCP VM

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

jobs:
  integration:
    name: Continuous Integration
    runs-on: ubuntu-latest
    
    #step 1 copy all your files from directory
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest pytest-flask requests

      - name: Run unit tests
        run: |
          python -m pytest tests/ -v

      
          
         