name: CI/CD - Deploy on GCP VM

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

jobs:
  integration:
    name: Continuous Integration
    runs-on: ubuntu-latest
    
    #step 1 copy all your files from directory
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest pytest-flask requests

      - name: Run unit tests
        run: |
          python -m pytest tests/ -v

      
  deployment:
    name: Deploy to GCP VM
    runs-on: ubuntu-latest
    needs: integration
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Deploy to GCP VM
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.GCP_VM_HOST }}
          username: ${{ secrets.GCP_VM_USERNAME }}
          key: ${{ secrets.GCP_VM_SSH_KEY }}
          script: |
            cd /path/to/your/project
            git pull origin main
            docker-compose down
            docker-compose up --build -d
          
         